.container
{
    border-radius: 30px;
    transition: all 0.3s;
    display: flex;
    box-sizing: border-box;
    box-shadow: -5px 10px 30px 15px #2f688a;
    margin: 40px;
    overflow: hidden;
}
.sideContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}
.aside
{
    height: 100%;
    display: flex;
    gap: 40px;
    padding: 40px;
}
.sideLeft
{
    border-radius: 30px;
    box-shadow: -5px 10px 30px 15px #2f688a;
    width: 28.5vw;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.sideLeft span
{
    transition: all 0.5s;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: -3px 3px 3px 1px #2f688a;
}
.sideLeft span:hover
{
    transition: all 0.5s;
    background: #2f688a;
    box-shadow: none;
    padding-left: 20px;
    color: #fff;
}
.sideLeft span p
{
    font-size: 1rem;    
}
.sideRight
{
    box-shadow: -5px 10px 30px 15px #2f688a;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
}
.sideRight img
{
    width: 200px;
}
.contaienrFlags
{
    border-radius: 30px;
    margin: 120px 30px auto 0px;
    box-shadow: -5px 10px 30px 15px #2f688a;
    width: 31.5vw;
    height: 72vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
}
.title h1
{
    text-align: center;
}
.containerCard
{
    margin: 0.59%;
    display: flex;
    border-radius: 10px;
    padding: 5px;
}
.flag img
{
    width: 40px;
    border-radius: 100%;
}

@media (max-width: 768px) {
    .container
    {
        flex-direction: column;
    }
    .aside
    {
        display: flex;
        flex-direction: column;
    }
    .sideLeft
    {
        width: 100%;
        /* height: 50vh; */
        padding: 25px 0;
    }
    .sideRight
    {
        padding-top: 50px;
    }
    .contaienrFlags
    {
        width: 100%;
    }
    .mainFlags
    {
        margin: 40px;
    }
}