.container
{
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100vw; */
    /* height: 100vh; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
    /* align-items: space-between; */
    /* flex-wrap: wrap; */
    /* justify-content: left; */
}
.sideContainer
{
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
    height: 50vh;
}
.teste
{
    /* border: 5px solid black; */
    height: 38vh;
    /* width: 100vw; */
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
}
.countryInfoSelected
{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}
.title h1
{
    text-align: center;
}
.containerCard
{
    margin: 0.59%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    border-radius: 10px;
    padding: 5px;
}
.flag img
{
    width: 40px;
    border-radius: 100%;
}