.container
{
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.sideContainer
{
    display: flex;
    justify-content: space-around;
    height: 50vh;
}
.side
{
    display: flex;
}
.sideLeft
{
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 10rem;
}
.sideLeft span
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sideLeft span p
{
    font-size: 1rem;    
}
.sideRight
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.sideRight img
{
    width: 200px;
}
.contaienrFlags
{
    height: 38vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
}
.countryInfoSelected
{
    display: flex;
    flex-direction: column;
}
.title h1
{
    text-align: center;
}
.containerCard
{
    margin: 0.59%;
    display: flex;
    border-radius: 10px;
    padding: 5px;
}
.flag img
{
    width: 40px;
    border-radius: 100%;
}